<!DOCTYPE html>
<html>
<head>
  <title>D runner</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "d_runner/application", media: "all" %>
  <%= javascript_include_tag "d_runner/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
